.container {
    max-width: 1000px;
    margin: 0 auto;
}
.header {
    background-color: #e4e4e7;
    padding: 30px 15px;
    display: flex;
    justify-content: center;
}
.main {
    display: flex;
}
.img {
    width: 50%;
}
.information {
    width: 50%;
}
.information ul li {
    font-size: 22px;
}
#select {
    background-color: black;
    color: white;
    border: none;
    padding: 3px;
}